<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<style>
			table,
			th,
			tr,
			td {
				border-collapse: collapse;
				border: 1px solid #949292;
			}
		</style>
	</head>

	<body>
		<h1><%= title %></h1>
		<% { var sno =0} %>
		<table>
			<tbody>
				<thread>
					<tr>
						<th>S No</th>
						<th>Name</th>
						<th>Reg #</th>

						<% heads.forEach(function(head){ %>

						<th><%= head.headname %></th>
						<% }) %>

						<th>Total</th>
						<th>Grade</th>
					</tr>

					<tr>
						<th></th>
						<th></th>
						<th></th>

						<% heads.forEach(function(head){ %>

						<th><%= head.total %></th>
						<% }) %>
						<th>100</th>
						<th></th>
					</tr>
				</thread>

				<% students.forEach(function(student){ %>
				<tr>
					<td><%= ++sno %></td>
					<td><%= student.name %></td>
					<td><%= student.regno %></td>

					<% { var total=0 } %>
					<!-- <% { student.scores.sort((a,b) => parseFloat(a.hid) - parseFloat(b.hid)); } %> It is use to sort Headers Columns Value According to their Headings -->
					<%student.scores.forEach(function(mark){%>
					<td><%= mark.marks %></td>
					<% {total +=mark.marks} %> <% }) %>
					<td><%= total %></td>

					<% { var letter=''; grades.forEach(function(grade) { if(total <= grade.end) { letter= grade.grade }
					}) } %>
					<td><%= letter %></td>
				</tr>

				<% }) %>
			</tbody>
		</table>
	</body>
</html>
