<!DOCTYPE html>
<html>
  <head>
    <% include partials/head  %> 
  </head>
  <body>
    <% include partials/menu %>
 
     
    <div class=" bg-3 text-center">    
        <h2 class="text-center" style="background-color:#999c9f;color:rgb(255,255,255);">Student List</h2>
        <div class="row">
          <table class='table table-striped table-responsive-md btm-table'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>RegID</th>
                    <th>Section</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <% student.forEach(function(student){ %>
                    <tr>
                        <td><%=student.name %></td>
                        <td><%=student.regid %></td>
                        <td><%=student.sec %></td>
                        <td>
                            <form action='updateform/<%=student._id %>' method="POST">
                                <button type="submit">Update</button>
                            </form>
                        </td>
                        <td>
                        <form action='<%=student._id %>/delete' method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </td>                   
                    </tr>
                 <% });  %>   
            </tbody>
        </table>
  
  
        </div>
      </div>
      <div class="footer-dark" style="background-color:rgb(44,49,52);">
          <div id="Bottom-Container">
              <footer>
                  <div class="container">
                      <div class="row">
                          <div class="col item social"><a href="https://www.facebook.com/profile.php?id=100004635136263"><i class="icon ion-social-facebook"></i></a><a href="https://github.com/HirdeshKumar2407/"><i class="icon ion-social-github"></i></a><a href="https://www.linkedin.com/in/hirdesh-kumar-3482781a1/"><i class="icon ion-social-linkedin"></i></a>
                              <a
                                  href="https://www.instagram.com/hirdeshkumar98/"><i class="icon ion-social-instagram"></i></a>
                          </div>
                      </div>
                      <p class="copyright">Hirdesh Kumar © 2021</p>
                  </div>
              </footer>
          </div>
      </div>
    </body>
    <% include partials/script %>
    </html>
      